.Title {
  font-size: 22px;
  font-weight: bold;
  width: max-content;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, rgb(1, 123, 235) 40%, lightgray 25%) 5;
}
.contact-container {
  margin-left: 30px;
}
.contact-content {
  margin: 10px 0 10px 0;
}
