.Nav-Container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.logo-s {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgb(1, 123, 235);
  color: white;
  font-weight: bolder;
  font-size: 30px;
}
.Nav-left {
  display: flex;
  align-items: center;
  margin: 50px 0 0 30px;
}
.Nav-right {
  display: flex;
  align-items: center;
  margin: 50px 50px 0 30px;
}
.smile {
  font-weight: bolder;
  font-size: 20px;
  padding: 0 5px 0 10px;
}
.nattakit {
  font-size: 18px;
}
.menu {
  padding: 0 20px 0 20px;
  color: gray;
  font-weight: 500;
  font-size: 18px;
}
.menu:hover {
  color: black;
  cursor: pointer;
}
