@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.App-bg {
  background-color: rgb(1, 123, 235);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-container {
  background-color: #fafafa;
  width: 95vw;
  height: 85vh;
  border-radius: 50px;
}
